* {
  font-family: Georgia;
  text-align: center;
}

header, footer {
  background-color: #BA6B6C;
  color: white;
  padding: 7px;
}

aside {
  background-color: #EF9A9A;
  width: 20%;
  height: 500px;
}

main {
  background-color: MistyRose;
  width: 60%;
  height: 500px;
}

section {
  background-color: MistyRose;
  padding: 50px;
}

ol {
  list-style-type: upper-roman;
}

ol li {
  text-align: left;
}

h2:first-letter {
  font-size: 170%;
  color: Maroon;
}

table {
  margin: auto;
  width: 80%;
  border: 1px solid Maroon;
}

img {
  height: 120px;
  margin: 7px;
  box-shadow: 7px 7px 7px DimGray;
}
